<div class="card">
  <div class="card-header">
    <h2>{{title}}</h2>
  </div>
  <div class="card-body">
    <form #frmGarcom="ngForm" id="frmGarcom" novalidate (ngSubmit)="onSaveGarcom()" novalidate>
      <div class="row">
        <label class="control-label col-sm-3" for="txtNome">Nome:</label>
        <div class="col-sm-5">
          <input id="txtNome" type="text" class="form-control" [(ngModel)]="garcom.nome" title="Nome"
            placeholder="Entre com o nome do garcom ..." [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
      <div class="row">
        <label class="control-label col-sm-3" for="txtTelefone">Telefone:</label>
        <div class="col-sm-5">
          <input id="txtTelefone" type="tel" class="form-control" [(ngModel)]="garcom.telefone" title="Telefone"
            placeholder="Entre com o telefone do garcom ..." [ngModelOptions]="{standalone: true}" />
        </div>
      </div>

      <div class="row">
        <hr>
      </div>

      <div class="card-footer header-buttons">
        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Salvar Garcom</button>
        <button type="button" (click)="voltar()" class="btn btn-secondary btn-sm">
          <i class="fa fa-arrow-left"></i> Voltar
        </button>
        <button type="button" (click)="limparCampos()" class="btn btn-danger btn-sm">
          <i class="fa fa-undo"></i> Limpar
        </button>
      </div>

    </form>

  </div>
</div>