<div class="col-sm-12" style="text-align: center;">
  <button class="btn btn-primary" routerLink="/garcons/criar">Criar novo garcom</button>
</div>
<p-fieldset class="col-sm-12" legend="{{title}}">
  <p-table 
    [value]="garcons | async"
    >
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-garcom>
      <tr>
        <td>{{garcom.nome}}</td>
        <td>{{garcom.telefone}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td colspan="2">
          Sem dados para serem exibidos.
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-fieldset>