<div class="card">
  <div class="card-header">
    <h2>{{title}}</h2>
  </div>
  <div class="card-body">
    <form *ngIf="pedido">
      <div class="form-group row">
        <label for="staticNumeroComanda" class="col-sm-3 col-form-label">Numero Comanda:</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="staticNumeroComanda"
            [value]="pedido.numeroComanda">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticNomeGarcom" class="col-sm-3 col-form-label">Garcom:</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="staticNomeGarcom" [value]="pedido.nomeGarcom">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticNomeCliente" class="col-sm-3 col-form-label">Cliente:</label>
        <div class="col-sm-9">
          <input type="text" readonly class="form-control-plaintext" id="staticNomeCliente"
            [value]="pedido.nomeCliente">
        </div>
      </div>

      <h4>Adicionar/Remover Produtos</h4>
      <hr />

      <div class="row">
        <label class="control-label col-sm-2" for="selectProduto">Produto:</label>
        <div class="col-sm-3">
          <select name="selectProduto" class="form-control" [(ngModel)]="produtoSelecionado"
            [ngModelOptions]="{standalone: true}">
            <option *ngFor="let item of produtos | async" [ngValue]="item">{{item.nome}} - {{item.valor | currency}}
            </option>
          </select>
        </div>
        <label class="control-label col-sm-3" for="selectProduto">Quantidade:</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" [(ngModel)]="quantidadeProdutoSelecionado"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-sm-2">
          <button type="button" (click)="adicionarProdutoBanco()" class="btn btn-secondary btn-sm">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>

      <br />

      <p-table [value]="pedido.produtos">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Quantidade</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
          <tr>
            <td>{{produto.nome}}</td>
            <td>{{produto.valor}}</td>
            <td>{{produto.quantidade}}</td>
            <td>
              <button type="button" (click)="removerProdutoBanco(produto)" class="btn btn-secondary btn-sm">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td colspan="4">
              Sem dados para serem exibidos.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </form>
  </div>
</div>